<ion-header>
  <div class="header"><h2>HQ MESSAGING APP TEST</h2></div>
</ion-header>
<ion-content class="bg">
  <div class="main-container">
    <div class="text-area">
      <ng-container *ngFor="let msg of messageList">
        <ion-item lines="none">
          <div class="message-area">{{ msg }}</div>
        </ion-item>
      </ng-container>
    </div>
    <div class="bottom-cont">
      <ion-input
        [(ngModel)]="newMessage"
        placeholder="Type in Message"
      ></ion-input>
      <ion-buttons
        ><ion-button (click)="sendNewMsg()"
          ><ion-icon color="tertiary" name="send"></ion-icon></ion-button
      ></ion-buttons>
    </div>
  </div>
</ion-content>
