@import "./../../../../assets/scss/style.scss";
.header {
  margin: 0.5rem;
  display: flex;
  justify-content: center;

  color: $primary;
  text-align: center;
  h2 {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.main-container {
  height: 100%;
  width: 100%;
  .text-area {
    position: absolute;
    bottom: 5vh;
  }
  .bottom-cont {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
  }
}
