<ion-content class="bg">
  <ng-container *ngFor="let msg of messageList">
    <ion-item lines="none">
      <div class="message-area">{{ msg }}</div>
    </ion-item>
  </ng-container>






  
  <ion-footer no-padding style="margin:0rem 0rem!Important;">
  <ion-input placeholder="Type in Message" [(ngModel)]="newMessage"> <ion-button vertical="bottom" shape="round" color="tertiary" (click)="sendNewMsg()" ><ion-icon name="send"></ion-icon>
  </ion-button>
</ion-input>
</ion-footer>
</ion-content>
